.text-gradient-1 {
  background: linear-gradient(to bottom, #06286E, #164EC0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.toggleMenu {
  transition: all 0.3s ease-in-out; 
}
.dropdown-icon {
  transition: transform 0.3s ease-in-out; 
}

.dropdown-icon.rotated {
  transform: rotate(180deg);
}

.dropdown-box{
  transition: all 0.3s ease-in-out; 
}